<ion-header>
  <ion-navbar>
    <ion-title>Your plan</ion-title>

    <ion-buttons end>
      <button (click)="addTravel(travel)">
        <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-input placeholder="Title" [(ngModel)]="travel.title"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Start Date</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" pickerFormat="MMMM DD YYYY" [(ngModel)]="travel.startDate"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>Finish Date</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" pickerFormat="MMMM DD YYYY" [(ngModel)]="travel.finishDate"></ion-datetime>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <button block ion-button outline (click)="showConfirm()">
    <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
  </button>
  <img [src]="travel.base64Image" *ngIf="travel" />
  <div>
    <button (click)="deleteConfirm()" ion-button clear block icon-left *ngIf="editState">
      <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
      Delete this plan
    </button>
  </div>
</ion-content>