<ion-header>

  <ion-navbar>
    <ion-title>
      {{travel.title}}
      <p class="subtitle">{{travel.startDate}}-{{travel.finishDate}}</p>
    </ion-title>
    <ion-buttons right>
      <button (click)="addActivity()">
        <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
      </button>
      <button (click)="deleteConfirm()">
        <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <ion-scroll scrollX="true">

    <button style="padding:0%; background: transparent !important;" *ngFor="let item of icons" (click)="selectIcon(item.iconUrl)">
      <img *ngIf="!item.isActive" class="activity-icon" [src]="item.iconUrl" />
      <img *ngIf="item.isActive" class="activity-icon-active" [src]="item.iconUrl" />
    </button>

  </ion-scroll>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-input placeholder="Title" [(ngModel)]="activity.title"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Start time</ion-label>
            <ion-datetime displayFormat="HH:mm" [(ngModel)]="activity.startTime"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>Finish time</ion-label>
            <ion-datetime displayFormat="HH:mm" [(ngModel)]="activity.finishTime"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>Date</ion-label>
            <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="activity.date"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-textarea rows="5" placeholder="Memo" [(ngModel)]="activity.memo"></ion-textarea>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>