<ion-header>
  <ion-navbar>
    <ion-title>
      {{travel.title}}
      <p class="subtitle">{{travel.startDate}}-{{travel.finishDate}}</p>
    </ion-title>

    <ion-buttons left>
      <button (click)="backToList()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons right>
      <button (click)="navigateToEditActivityPage(false)">
        <ion-icon name="add"></ion-icon>
      </button>
      <button (click)="navigateToEditTravelPage(true)">
        <ion-icon name="briefcase"></ion-icon>
      </button>

    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngFor="let date of dateList">
    <ion-list-header>
      {{date}}
    </ion-list-header>

    <div *ngFor="let item of activityList" (click)="navigateToEditActivityPage(item, true)">
      <ion-item *ngIf="date==item.date">
        <button item-start style="background: transparent !important;">
          <img [src]="item.iconUrl" />
        </button>
        <h2>{{item.startTime}} - {{item.finishTime}}</h2>
        <h2>{{item.title}}</h2>
        <p>{{item.memo}}</p>
      </ion-item>
    </div>
  </ion-list>
</ion-content>