page-open-weather {
    .weather-forecast-list__table {
        border-collapse: collapse;
    }
    .weather-forecast-list__item {
        border-top: 1px solid #ddd;
        padding: 8px;
    }
    .weather-forecast-list__card
    >.weather-forecast-list__day,
     .weather-forecast-list__card>
     .weather-forecast-list__night {
        display: inline-block;
        vertical-align: top;
        min-width: 51px;
        padding: 3px 5px;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
    }
    .weather-forecast-list__day {
        background-color: #f0ad4e;
        margin-right: 5px;
    }
    .weather-forecast-list__night {
        background-color: #999;
    }
}
